<ion-content padding style="background-color: #1d274c;">
  <form #f="ngForm" (ngSubmit)="onLogin(f)">
  <ion-grid>
    <ion-row class="logo-row">
      <ion-col col-12 text-center >
        <img src="assets/imgs/logo_masi.jpg" class="login-logo">
      </ion-col>
    </ion-row>


    <ion-row>
      <ion-col col-12>

            <ion-input class="login-input" type="text" ngModel placeholder="Correo" name="email" style="color:#ffffff;" required></ion-input>

            <ion-input class="login-input" type="password" ngModel placeholder="Contraseña" name="password" style="color:#ffffff;" required></ion-input>

      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-12>
        <button ion-button class="submit-btn" full type="submit" color="danger" [disabled]="!f.valid">Entrar</button>
        <!-- <button ion-button class="register-btn" block clear type="button" (click)="onPasswordReset()">Olvide mi contraseña</button> -->
      </ion-col>
    </ion-row>


  </ion-grid>
  </form>
</ion-content>

<ion-footer>
  <ion-grid>
    <ion-row>
      <ion-col col-12 text-right>
        <span class="app-version" style="color:#ffffff;" text-right>MASI Inspectores {{ appVersion }}</span>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>
