page-inspection-tours {
	.item-md.item-block.noBorder .item-inner{
		border: none;
	}
	ion-select.select.select-md{
		min-width: 100%;
	}
	.block {
	  position: relative;
	  .deleteIcon {
	    position: absolute !important;
	    color: #ffffff !important;
	    margin-left: 80% !important;
	  }
	  .deleteIcon:before {
	    font-size: 30px !important;
	  }
	}

  
	
}
