<ion-header>
  <ion-navbar>
    Punto de inspeccion
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      Información
    </ion-card-header>
    <ion-card-content>
      <p>
        Compañía: <br />
        <span class="subtext">{{ companyName }}</span><br />

        Sucursal:<br />
        <span class="subtext">{{ routeName }}</span><br />

        Punto de inspeccion:<br />
        <span class="subtext">{{ pointName }} - {{inspPointName}}</span><br />
        <span class="subtext">{{ pointType }}</span><br />
        <span class="subtext">{{ pointSubType }} {{ pointSubType2 }} {{ pointSubType3 }}</span><br />

      </p>
    </ion-card-content>
  </ion-card>

 	

    <form #f="ngForm" (ngSubmit)="checkDate(f)">

    <!-- extintor -->
    <div [hidden]="pointType !='extintor'">

    	<!-- <ion-item class="noBorder">
	        <ion-label text-wrap>¿QUÉ TIPO DE EQUIPO ES  {{reposicion}}?</ion-label>
        </ion-item>
    	<ion-item>

	        <ion-select ngModel name="extintor_tipo" >
	            <ion-option  value="">Seleccione opción</ion-option>
	            <ion-option  value="A">A</ion-option>
	            <ion-option  value="B">B</ion-option>
	            <ion-option  value="C">C</ion-option>
	            
	        </ion-select>
		</ion-item> -->
		<ion-item>
		    <ion-label>Reposición</ion-label>
		    <ion-toggle ngModel name="extintor_reposicion" [(ngModel)]="extintor_reposicion" (ionChange)="changeReposicion($event)"  checked="false"></ion-toggle>
		</ion-item>
    	<ion-item class="noBorder">
	        <ion-label text-wrap>¿ESTA ACCESIBLE EL EQUIPO {{reposicion}} ?</ion-label>
        </ion-item>
    	<ion-item>

	        <!-- <ion-input class="" type="text" ngModel  name="extintor_accesible" ></ion-input> -->
	        <ion-select ngModel name="extintor_accesible" >
	            <ion-option  value="SI">SI</ion-option>
	            <ion-option  value="NO">NO</ion-option>
	            
	        </ion-select>
		</ion-item>

    	<ion-item class="noBorder">
	        <ion-label text-wrap>¿SE ENCUENTRA SEÑALIZADO {{reposicion}}?</ion-label>
        </ion-item>
    	<ion-item>

	        <!-- <ion-input class="" type="text" ngModel  name="extintor_senalizado" ></ion-input> -->
	        <ion-select ngModel name="extintor_senalizado" >
	            <ion-option  value="SI">SI</ion-option>
	            <ion-option  value="NO">NO</ion-option>
	            <ion-option  value="DAÑADO">DAÑADO</ion-option>
	            
	        </ion-select>
		</ion-item>

    	<ion-item class="noBorder">
	        <ion-label text-wrap>¿SE ENCUENTRA DELIMITADO  {{reposicion}}?</ion-label>
        </ion-item>
    	<ion-item>
	        
	        <ion-select ngModel name="extintor_delimitado" >
	            <ion-option  value="SI">SI</ion-option>
	            <ion-option  value="NO">NO</ion-option>
	            <ion-option  value="DAÑADO">DAÑADO</ion-option>
	            
	        </ion-select>
		</ion-item>

    	<ion-item class="noBorder">
	        <ion-label text-wrap>¿CUAL ES EL ESTADO DEL GABINETE  {{reposicion}}?</ion-label>
        </ion-item>
    	<ion-item>


	        <!-- <ion-input class="" type="text" ngModel  name="extintor_gabinete" ></ion-input> -->
	        <ion-select ngModel name="extintor_gabinete"  multiple="true">
	            <ion-option  value="OK">OK</ion-option>
	            <ion-option  value="GOLPEADO">GOLPEADO</ion-option>
	            <ion-option  value="PUERTA NO CIERRA">PUERTA NO CIERRA</ion-option>
	            <ion-option  value="GABINETE EN MAL ESTADO">GABINETE EN MAL ESTADO</ion-option>
	            <ion-option  value="N/A">N/A</ion-option>
	        </ion-select>
		</ion-item>

    	<ion-item class="noBorder">
	        <ion-label text-wrap>¿CUAL ES SU ANTIGUEDAD  {{reposicion}}?</ion-label>
        </ion-item>

        <ion-item>
		    <ion-label>Ilegible</ion-label>
		    <ion-checkbox ngModel  [(ngModel)]="extintor_antiguedad_ilegible" name="extintor_antiguedad_ilegible" ></ion-checkbox>
		</ion-item>
    	<ion-item [hidden]='extintor_antiguedad_ilegible'>

	        <!-- <ion-input class="" type="text" ngModel  name="extintor_antiguedad" ></ion-input> -->

	        <ion-datetime   [max]="dateMaxLimit" displayFormat="MM/YYYY" pickerFormat="MMMM YYYY" ngModel name="extintor_antiguedad"></ion-datetime>
		</ion-item>

    	<ion-item class="noBorder">
	        <ion-label text-wrap>¿CUAL ES ESTADO DE LA CARGA  {{reposicion}}?</ion-label>
        </ion-item>
    	<ion-item>

	        <!-- <ion-input class="" type="text" ngModel  name="extintor_carga" ></ion-input> -->
	        <ion-select ngModel name="extintor_carga">
	            <ion-option  value="OK">OK</ion-option>
	            <ion-option  value="DISPARADO">DISPARADO</ion-option>
	            <ion-option  value="PRESION">PRESIÓN</ion-option>
	            
	        </ion-select>
		</ion-item>

    	<ion-item class="noBorder">
	        <ion-label text-wrap>¿QUE ESTADO TIENE LA MANGUERA  {{reposicion}}?</ion-label>
        </ion-item>
    	<ion-item>

	        <!-- <ion-input class="" type="text" ngModel  name="extintor_manguera" ></ion-input> -->
	        <ion-select ngModel name="extintor_manguera">
	            <ion-option  value="OK">OK</ion-option>
	            <ion-option  value="DANADA">DAÑADA</ion-option>
	            <ion-option  value="N/A">N/A</ion-option>
	            
	        </ion-select>
		</ion-item>

    	<ion-item class="noBorder">
	        <ion-label text-wrap>¿CUA ES EL ESTADO DEL CILINDRO  {{reposicion}}?</ion-label>
        </ion-item>
    	<ion-item>

	        <!-- <ion-input class="" type="text" ngModel  name="extintor_cilindro" ></ion-input> -->
	        <ion-select ngModel name="extintor_cilindro">
	            <ion-option  value="OK">OK</ion-option>
	            <ion-option  value="DANADO">DAÑADO</ion-option>
	            
	        </ion-select>
		</ion-item>

    	<ion-item class="noBorder">
	        <ion-label text-wrap>¿CUAL ES LA FECHA DE CARGA  {{reposicion}}?</ion-label>
        </ion-item>
    	<ion-item>

	        <!-- <ion-input class="" type="date" ngModel  name="extintor_fechacarga" ></ion-input> -->
	        <ion-datetime  [max]="dateMaxLimit" displayFormat="MM/YYYY" pickerFormat="MMMM YYYY" ngModel [(ngModel)]="extintor_fechacarga" name="extintor_fechacarga" (ionChange)="changeFechaCarga($event)"></ion-datetime>
		</ion-item>
    	<ion-item class="noBorder">
	        <ion-label text-wrap>¿CUAL ES LA FECHA DE VENCIMIENTO  {{reposicion}}?</ion-label>
        </ion-item>
    	<ion-item>

	        <!-- <ion-input class="" type="date" ngModel  name="extintor_fechavencimiento" ></ion-input> -->
	        <ion-datetime  [max]="dateMaxLimit" displayFormat="MM/YYYY" pickerFormat="MMMM YYYY" ngModel [(ngModel)]="extintor_fechavencimiento" name="extintor_fechavencimiento"></ion-datetime>

		</ion-item>

    	<!-- <ion-item class="noBorder">
	        <ion-label text-wrap>¿CUAL ES LA FECHA DE PRUEBA HIDROSTATICA  {{reposicion}}?</ion-label>
        </ion-item>
    	<ion-item>

	        <ion-input class="" type="text" ngModel  name="extintor_fechaprueba" ></ion-input>

		</ion-item> -->
    	<ion-item class="noBorder">
	        <ion-label text-wrap>ALTURA NORMA {{reposicion}}?</ion-label>
        </ion-item>
    	<ion-item>

	        <!-- <ion-input class="" type="text" ngModel  name="extintor_accesible" ></ion-input> -->
	        <ion-select ngModel name="extintor_altura" >
	            <ion-option  value="SI">SI</ion-option>
	            <ion-option  value="NO">NO</ion-option>
	            
	        </ion-select>
		</ion-item>
    	<ion-item class="noBorder">
	        <ion-label text-wrap>OBSERVACIONES {{reposicion}}</ion-label>
        </ion-item>
    	<ion-item>

	        <ion-textarea class="" type="text" ngModel  name="extintor_observaciones" ></ion-textarea>

		</ion-item>
    	<ion-item class="noBorder">
	        <ion-label text-wrap>¿YA PERFORASTE LA ETIQUETA DE INSPECCION  {{reposicion}}?</ion-label>
        </ion-item>
    	<ion-item>

	        <!-- <ion-input class="" type="text" ngModel  name="extintor_etiquetaInspeccion" ></ion-input> -->
	        <ion-select ngModel name="extintor_etiquetaInspeccion">
	            <ion-option  value="SI">SI</ion-option>
	            <ion-option  value="NO">NO</ion-option>
	            
	        </ion-select>
		</ion-item>
    	<ion-item class="noBorder">
	        <ion-label text-wrap>¿SE ENCUENTRA CON SEGURO Y COLA DE RATA  {{reposicion}}?</ion-label>
        </ion-item>
    	<ion-item>

	        <!-- <ion-input class="" type="text" ngModel  name="extintor_seguro" ></ion-input> -->
	        <ion-select ngModel name="extintor_seguro">
	            <ion-option  value="SI">SI</ion-option>
	            <ion-option  value="NO">NO</ion-option>
	            
	        </ion-select>
		</ion-item>


    </div>
    <!-- hidrante -->
    <div [hidden]="pointType !='hidrante'">
    	
    	<!-- <ion-item class="noBorder">
	        <ion-label text-wrap>¿QUÉ TIPO DE EQUIPO ES  {{reposicion}}?</ion-label>
        </ion-item>
    	<ion-item>

	        <ion-select ngModel name="hidrante_tipo" >
	            <ion-option  value="">Seleccione opción</ion-option>
	            <ion-option  value="A">A</ion-option>
	            <ion-option  value="B">B</ion-option>
	            <ion-option  value="C">C</ion-option>
	            
	        </ion-select>
		</ion-item> -->

    	<ion-item class="noBorder">
	        <ion-label text-wrap>¿ESTA ACCESIBLE EL EQUIPO  {{reposicion}}?</ion-label>
        </ion-item>
    	<ion-item>

	        <!-- <ion-input class="" type="text" ngModel  name="hidrante_accesible" ></ion-input> -->
	        <ion-select ngModel name="hidrante_accesible">
	            <ion-option  value="SI">SI</ion-option>
	            <ion-option  value="NO">NO</ion-option>
	            
	        </ion-select>
		</ion-item>

    	<ion-item class="noBorder">
	        <ion-label text-wrap>¿SE ENCUENTRA SEÑALIZADO  {{reposicion}}?</ion-label>
        </ion-item>
    	<ion-item>

	        <!-- <ion-input class="" type="text" ngModel  name="hidrante_senalizado" ></ion-input> -->
	        <ion-select ngModel name="hidrante_senalizado" >
	            <ion-option  value="SI">SI</ion-option>
	            <ion-option  value="NO">NO</ion-option>
	            <ion-option  value="DAÑADO">DAÑADO</ion-option>
	            
	        </ion-select>
		</ion-item>

    	<ion-item class="noBorder">
	        <ion-label text-wrap>¿SE ENCUENTRA DELIMITADO  {{reposicion}}?</ion-label>
        </ion-item>
    	<ion-item>

	        <!-- <ion-input class="" type="text" ngModel  name="hidrante_delimitado" ></ion-input> -->
	        <ion-select ngModel name="hidrante_delimitado" >
	            <ion-option  value="SI">SI</ion-option>
	            <ion-option  value="NO">NO</ion-option>
	            <ion-option  value="DAÑADO">DAÑADO</ion-option>
	            <ion-option  value="N/A">N/A</ion-option>
	        </ion-select>
		</ion-item>
    	<ion-item class="noBorder">
	        <ion-label text-wrap>¿CUAL ES EL ESTADO DEL GABINETE  {{reposicion}}?</ion-label>
        </ion-item>
    	<ion-item>

	        <!-- <ion-input class="" type="text" ngModel  name="hidrante_gabinete" ></ion-input> -->
	        <ion-select ngModel name="hidrante_gabinete" multiple="true">
	            <ion-option  value="OK">OK</ion-option>
	            <ion-option  value="GOLPEADO/CAMBIO">GOLPEADO/CAMBIO</ion-option>
	            <ion-option  value="PUERTA NO CIERRA">PUERTA NO CIERRA</ion-option>
	            <ion-option  value="GABINETE EN MAL ESTADO(PINTURA)">GABINETE EN MAL ESTADO(PINTURA)</ion-option>
	            <ion-option  value="CAMBIO ACRÍLICO/VIDRIO">CAMBIO ACRÍLICO/VIDRIO</ion-option>
	            
	        </ion-select>
		</ion-item>

    	<ion-item class="noBorder">
	        <ion-label text-wrap>¿QUE ESTADO TIENE LA MANGUERA  {{reposicion}}?</ion-label>
        </ion-item>
    	<ion-item>

	        <!-- <ion-input class="" type="text" ngModel  name="hidrante_manguera" ></ion-input> -->
	        <ion-select ngModel name="hidrante_manguera" >
	            <ion-option  value="OK">OK</ion-option>
	            <ion-option  value="DANADA">DAÑADA</ion-option>
	            <ion-option  value="NO ESTÁ">NO ESTÁ</ion-option>
	            <ion-option  value="CAMBIO">CAMBIO</ion-option>
	            <ion-option  value="N/A">N/A</ion-option>
	            
	        </ion-select>
		</ion-item>

    	<!-- <ion-item class="noBorder">
	        <ion-label text-wrap>¿CUAL ES LA FECHA DE PRUEBA HIDROSTATICA  {{reposicion}}?</ion-label>
        </ion-item>
    	<ion-item>

	        <ion-select ngModel name="hidrante_fechaprueba" multiple="true">
	            <ion-option  value="A">A</ion-option>
	            <ion-option  value="B">B</ion-option>
	            <ion-option  value="C">C</ion-option>
	            
	        </ion-select>
		</ion-item> -->

    	<ion-item class="noBorder">
	        <ion-label text-wrap>¿CUAL ES EL ESTADO DEL CHIFLON  {{reposicion}}?</ion-label>
        </ion-item>
    	<ion-item>

	        <!-- <ion-input class="" type="text" ngModel  name="hidrante_chiflon" ></ion-input> -->
	        <ion-select ngModel name="hidrante_chiflon">
	            <ion-option  value="OK">OK</ion-option>
	            <ion-option  value="NO ESTÁ">NO ESTÁ</ion-option>
	            <ion-option  value="DAÑADO">DAÑADO</ion-option>
	            <ion-option  value="CAMBIO">CAMBIO</ion-option>
	            
	        </ion-select>

		</ion-item>

    	<ion-item class="noBorder">
	        <ion-label text-wrap>¿TIENE LLAVES PARA COPLES  {{reposicion}}?</ion-label>
        </ion-item>
    	<ion-item>

	       
	        <ion-select ngModel name="hidrante_coples">
	            <ion-option  value="SI">SI</ion-option>
	            <ion-option  value="NO">NO</ion-option>
	            
	        </ion-select>
		</ion-item>

    	<ion-item class="noBorder">
	        <ion-label text-wrap>¿QUE ESTADO TIENE LA ESPUMA  {{reposicion}}?</ion-label>
        </ion-item>
    	<ion-item>

	        <!-- <ion-input class="" type="text" ngModel  name="hidrante_espuma" ></ion-input> -->
	        <ion-select ngModel name="hidrante_espuma">
	            <ion-option  value="OK">OK</ion-option>
	            <ion-option  value="NO ESTÁ">NO ESTÁ</ion-option>
	            <ion-option  value="DAÑADO">DAÑADO</ion-option>
	            <ion-option  value="CAMBIO">CAMBIO</ion-option>
	            <ion-option  value="N/A">N/A</ion-option>
	            
	            
	        </ion-select>
		</ion-item>

    	<ion-item class="noBorder">
	        <ion-label text-wrap>¿CUENTA CON ETIQUETAS DE INSTRUCCIONES  {{reposicion}}?</ion-label>
        </ion-item>
    	<ion-item>

	        <!-- <ion-input class="" type="text" ngModel  name="hidrante_instrucciones" ></ion-input> -->
	        <ion-select ngModel name="hidrante_instrucciones">
	            <ion-option  value="SI">SI</ion-option>
	            <ion-option  value="NO">NO</ion-option>
	            
	        </ion-select>
		</ion-item>

    	<ion-item class="noBorder">
	        <ion-label text-wrap>¿SE HA LUBRICADO LA VALVULA  {{reposicion}}?</ion-label>
        </ion-item>
    	<ion-item>

	        <!-- <ion-input class="" type="text" ngModel  name="hidrante_valvula" ></ion-input> -->
	        <ion-select ngModel name="hidrante_valvula" >
	            <ion-option  value="SI">SI</ion-option>
	            <ion-option  value="NO">NO</ion-option>
	            
	        </ion-select>
		</ion-item>

    	<ion-item class="noBorder">
	        <ion-label text-wrap>OBSERVACIONES {{reposicion}}</ion-label>
        </ion-item>
    	<ion-item>

	        <ion-textarea class="" type="text" ngModel  name="hidrante_observaciones" ></ion-textarea>

		</ion-item>

    	<ion-item class="noBorder">
	        <ion-label text-wrap>¿YA PERFORASTE LA ETIQUETA DE INSPECCION  {{reposicion}}?</ion-label>
        </ion-item>
    	<ion-item>

	        <!-- <ion-input class="" type="text" ngModel  name="hidrante_etiquetaInspeccion" ></ion-input> -->
	        <ion-select ngModel name="hidrante_etiquetaInspeccion">
	            <ion-option  value="SI">SI</ion-option>
	            <ion-option  value="NO">NO</ion-option>
	            
	        </ion-select>
		</ion-item>

    </div>
  	
    <!-- regadera -->
    <div [hidden]="pointType !='regadera'">

		<!-- <ion-item class="noBorder">
	        <ion-label text-wrap>¿QUÉ TIPO DE EQUIPO ES  {{reposicion}}?</ion-label>
        </ion-item>
    	<ion-item>

	        <ion-input class="" type="text" ngModel  name="regadera_tipo" ></ion-input>

		</ion-item> -->
		<ion-item class="noBorder">
	        <ion-label text-wrap>¿ESTA ACCESIBLE EL EQUIPO  {{reposicion}}?</ion-label>
        </ion-item>
    	<ion-item>

	        
	        <ion-select ngModel name="regadera_accesible">
	            <ion-option  value="SI">SI</ion-option>
	            <ion-option  value="NO">NO</ion-option>
	            
	        </ion-select>
		</ion-item>
		<ion-item class="noBorder">
	        <ion-label text-wrap>¿SE ENCUENTRA SEÑALIZADO  {{reposicion}}?</ion-label>
        </ion-item>
    	<ion-item>

	        
	        <ion-select ngModel name="regadera_senalizado">
	           <ion-option  value="SI">SI</ion-option>
	            <ion-option  value="NO">NO</ion-option>
	            <ion-option  value="DAÑADO">DAÑADO</ion-option>
	            
	        </ion-select>
		</ion-item>
		<ion-item class="noBorder">
	        <ion-label text-wrap>¿SE ENCUENTRA DELIMITADO  {{reposicion}}?</ion-label>
        </ion-item>
    	<ion-item>

	        
	        <ion-select ngModel name="regadera_delimitado">
	            <ion-option  value="SI">SI</ion-option>
	            <ion-option  value="NO">NO</ion-option>
	            <ion-option  value="DAÑADO">DAÑADO</ion-option>
	            <ion-option  value="N/A">N/A</ion-option>
	            
	        </ion-select>
		</ion-item>
		<ion-item class="noBorder">
	        <ion-label text-wrap>¿TIENE NIVEL DE AGUA SUFICIENTE  {{reposicion}}?</ion-label>
        </ion-item>
    	<ion-item>

	        
	        <ion-select ngModel name="regadera_suficiente">
	            <ion-option  value="SI">SI</ion-option>
	            <ion-option  value="NO">NO</ion-option>
	            <ion-option  value="BAJA PRESION/NIVEL">BAJA PRESION/NIVEL</ion-option>
	            
	        </ion-select>
		</ion-item>
		<ion-item class="noBorder">
	        <ion-label text-wrap>¿TIENE VELOCIDAD DE CHORRO SUAVE  {{reposicion}}?</ion-label>
        </ion-item>
    	<ion-item>

	        
	        <ion-select ngModel name="regadera_velocidad">
	            <ion-option  value="SI">SI</ion-option>
	            <ion-option  value="NO">NO</ion-option>
	            <ion-option  value="BAJA PRESION/NIVEL">BAJA PRESION/NIVEL</ion-option>
	            
	        </ion-select>
		</ion-item>
		<ion-item class="noBorder">
	        <ion-label text-wrap>¿SE ENCUENTRA LIBRE DE CONTAMINANTES  {{reposicion}}?</ion-label>
        </ion-item>
    	<ion-item>

	        
	        <ion-select ngModel name="regadera_contaminacion">
	            <ion-option  value="SI">SI</ion-option>
	            <ion-option  value="NO">NO</ion-option>
	            <ion-option  value="CAMBIAR/SOL. HIDROSEP">CAMBIAR/SOL. HIDROSEP</ion-option>
	            
	        </ion-select>
		</ion-item>
		<ion-item class="noBorder">
	        <ion-label text-wrap>¿TIENE EL LAVAOJOS LA ALTURA ADECUADA (83 a 114 cms)  {{reposicion}}?</ion-label>
        </ion-item>
    	<ion-item>

	        
	        <ion-select ngModel name="regadera_altura">
	            <ion-option  value="OK">OK</ion-option>
	            <ion-option  value="NO">NO</ion-option>
	            <ion-option  value="CAMBIAR">CAMBIAR</ion-option>
	            
	        </ion-select>
		</ion-item>
		<ion-item class="noBorder">
	        <ion-label text-wrap>¿SE ENCUENTRAN LOS ROCIADORES DEL LAVAOJOS EN BUEN ESTADO  {{reposicion}}?</ion-label>
        </ion-item>
    	<ion-item>

	        
	        <ion-select ngModel name="regadera_estadoRociadores">
	            <ion-option  value="OK">OK</ion-option>
	            <ion-option  value="NO">NO</ion-option>
	            <ion-option  value="DAÑADO">DAÑADO</ion-option>
	            <ion-option  value="DAÑADO/ACCIONADOR">DAÑADO/ACCIONADOR</ion-option>
	            <ion-option  value="N/A">N/A</ion-option>
	            
	        </ion-select>
		</ion-item>
		<ion-item class="noBorder">
	        <ion-label text-wrap>¿SE ENCUENTRAN LAS VALVULAS EN POSICION CORRECTA  {{reposicion}}?</ion-label>
        </ion-item>
    	<ion-item>

	        
	        <ion-select ngModel name="regadera_posicion">
	            <ion-option  value="OK">OK</ion-option>
	            <ion-option  value="NO">NO</ion-option>
	            <ion-option  value="DAÑADA/FUGA">DAÑADA/FUGA</ion-option>
	            <ion-option  value="DAÑADA/MANIJA">DAÑADA/MANIJA</ion-option>
	            <ion-option  value="N/A">N/A</ion-option>
	            
	        </ion-select>
		</ion-item>

		<!-- /**************/ -->
		<ion-item class="noBorder">
	        <ion-label text-wrap>¿SE ENCUENTRA EL DIFUSOR DE LA REGADERA EN BUEN ESTADO  {{reposicion}}?</ion-label>
        </ion-item>
    	<ion-item>

	        
	        <ion-select ngModel name="regadera_difusorde">
	            <ion-option  value="OK">OK</ion-option>
	            <ion-option  value="NO ESTÁ">NO ESTÁ</ion-option>
	            <ion-option  value="DAÑADO">DAÑADO</ion-option>
	            <ion-option  value="DALADA/JALADERA">DALADA/JALADERA</ion-option>
	            <ion-option  value="N/A">N/A</ion-option>
	            
	        </ion-select>
		</ion-item>
		
		<ion-item class="noBorder">
	        <ion-label text-wrap>¿TIENEN TAPONES LOS ROCIADORES DEL LAVAOJOS  {{reposicion}}?</ion-label>
        </ion-item>
    	<ion-item>

	        
	        <ion-select ngModel name="regadera_taponRociadores">
	            <ion-option  value="SI">SI</ion-option>
	            <ion-option  value="NO">NO</ion-option>
	            
	        </ion-select>
		</ion-item>
		<ion-item class="noBorder">
	        <ion-label text-wrap>¿SE ENCUENTRA SI ES PORTATIL, EL AGUA EL BUEN ESTADO  {{reposicion}}?</ion-label>
        </ion-item>
    	<ion-item>

	        
	        <ion-select ngModel name="regadera_portatil">
	            <ion-option  value="SI">SI</ion-option>
	            <ion-option  value="NO">NO</ion-option>
	            
	        </ion-select>
		</ion-item><!-- 
		<ion-item class="noBorder" hidden>
	        <ion-label text-wrap>¿SE ENCUENTRA A MAS DE 20 cms DE DISTANCIA DE LA PARE FRONTAL  {{reposicion}}?</ion-label>
        </ion-item>
    	<ion-item hidden>

	        
	        <ion-select ngModel name="regadera_distancia">
	            <ion-option  value="SI">SI</ion-option>
	            <ion-option  value="NO">NO</ion-option>
	            
	        </ion-select>
		</ion-item> -->
		<ion-item class="noBorder">
	        <ion-label text-wrap>OBSERVACIONES {{reposicion}}</ion-label>
        </ion-item>
    	<ion-item>

	        <ion-textarea class="" type="text" ngModel  name="regadera_observaciones" ></ion-textarea>

		</ion-item>
		<ion-item class="noBorder">
	        <ion-label text-wrap>¿YA PERFORASTE LA ETIQUETA DE INSPECCION  {{reposicion}}?</ion-label>
        </ion-item>
    	<ion-item>

	        
	        <ion-select ngModel name="regadera_etiquetaInspeccion">
	            <ion-option  value="SI">SI</ion-option>
	            <ion-option  value="NO">NO</ion-option>
	            
	        </ion-select>
		</ion-item>

    </div>
    <!-- camilla -->
    <div [hidden]="pointType !='camilla'">
    	<!-- <ion-item class="noBorder">
	        <ion-label text-wrap>*¿Qué tipo de equipo es  {{reposicion}}?</ion-label>
        </ion-item>
    	<ion-item>

	        <ion-input class="" type="text" ngModel  name="camilla_tipo" ></ion-input>

		</ion-item> -->
		<ion-item>
		    <ion-label>Reposición</ion-label>
		    <ion-toggle ngModel name="camilla_reposicion" [(ngModel)]="camilla_reposicion" (ionChange)="changeReposicion($event)"  checked="false"></ion-toggle>
		</ion-item>
    	<ion-item class="noBorder">
	        <ion-label text-wrap>¿ESTA ACCESIBLE EL EQUIPO  {{reposicion}}?</ion-label>
        </ion-item>
    	<ion-item>

	        
	        <ion-select ngModel name="camilla_accesible">
	            <ion-option  value="SI">SI</ion-option>
	            <ion-option  value="NO">NO</ion-option>
	            
	        </ion-select>
		</ion-item>
    	<ion-item class="noBorder">
	        <ion-label text-wrap>¿SE ENCUENTRA SEÑALIZADO  {{reposicion}}?</ion-label>
        </ion-item>
    	<ion-item>

	        
	        <ion-select ngModel name="camilla_senalizado">
	            <ion-option  value="SI">SI</ion-option>
	            <ion-option  value="NO">NO</ion-option>
	            <ion-option  value="DAÑADO">DAÑADO</ion-option>
	            
	        </ion-select>
		</ion-item>
    	<ion-item class="noBorder">
	        <ion-label text-wrap>¿SE ENCUENTRA DELIMITADO  {{reposicion}}?</ion-label>
        </ion-item>
    	<ion-item>

	        
	        <ion-select ngModel name="camilla_delimitado">
	            <ion-option  value="SI">SI</ion-option>
	            <ion-option  value="NO">NO</ion-option>
	            <ion-option  value="DAÑADO">DAÑADO</ion-option>
	            <ion-option  value="N/A">N/A</ion-option>
	            
	        </ion-select>
		</ion-item>
    	<ion-item class="noBorder">
	        <ion-label text-wrap>¿CUAL ES EL ESTADO DEL GABINETE  {{reposicion}}?</ion-label>
        </ion-item>
    	<ion-item>

	        
	        <ion-select ngModel name="camilla_gabinete"  multiple="true">
	            <ion-option  value="ok">ok</ion-option>
		        <ion-option  value="GOLPEADO/CAMBIO">GOLPEADO/CAMBIO</ion-option>
				<ion-option  value="PUERTA NO CIERRA">PUERTA NO CIERRA</ion-option>
				<ion-option  value="GABINETE EN MAL ESTADO(PINTURA)">GABINETE EN MAL ESTADO(PINTURA)</ion-option>
		        <ion-option  value="CAMBIAR ACRÍLICO/VIDRIO">CAMBIAR ACRÍLICO/VIDRIO</ion-option>
		        <ion-option  value="N/A">N/A</ion-option>
			</ion-select>
		</ion-item>
    	<ion-item class="noBorder">
	        <ion-label text-wrap>¿CUAL ES EL ESTADO DE LA FUNDA  {{reposicion}}?</ion-label>
        </ion-item>
    	<ion-item>

	        
	        <ion-select ngModel name="camilla_funda" >
	            <ion-option  value="OK">OK</ion-option>
	            <ion-option  value="NO ESTÁ">NO ESTÁ</ion-option>
		        <ion-option  value="DAÑADA">DAÑADA</ion-option>
		        <ion-option  value="N/A">N/A</ion-option>
			</ion-select>
		</ion-item>
    	
		<ion-item class="noBorder">
	        <ion-label text-wrap>¿QUE ESTADO TIENE LA CAMILLA  {{reposicion}}?</ion-label>
        </ion-item>
    	<ion-item>

	        
	        <ion-select ngModel name="camilla_estadoCamilla">
	            <ion-option  value="OK">OK</ion-option>
				<ion-option  value="NO ESTÁ">NO ESTÁ</ion-option>
		        <ion-option  value="DAÑADA">DAÑADA</ion-option>
	            
	        </ion-select>
		</ion-item>
    	<ion-item class="noBorder">
	        <ion-label text-wrap>¿CUAL ES EL ESTADO DEL EQUIPO DE SUJECCION  {{reposicion}}?</ion-label>
        </ion-item>
    	<ion-item>

	        
	        <ion-select ngModel name="camilla_sujeccion">
	            <ion-option  value="BUENO">BUENO</ion-option>
				<ion-option  value="MALO">MALO</ion-option>
	            
	        </ion-select>
		</ion-item>
    	
    	<ion-item class="noBorder">
	        <ion-label text-wrap>¿CUENTA CON KIT DE INMOVILIZACION  {{reposicion}}?</ion-label>
        </ion-item>
    	<ion-item>

	        
	        <ion-select ngModel name="camilla_inmovilizacion">
	            <ion-option  value="OK">OK</ion-option>
				<ion-option  value="NO ESTÁ">NO ESTÁ</ion-option>
		        <ion-option  value="DAÑADA">DAÑADA</ion-option>
		        <ion-option  value="INCOMPLETO">INCOMPLETO</ion-option>
		        <ion-option  value="N/A">N/A</ion-option>
	            
	        </ion-select>
		</ion-item>
    	<ion-item class="noBorder">
	        <ion-label text-wrap>¿CUENTA CON ARAÑA  {{reposicion}}?</ion-label>
        </ion-item>
    	<ion-item>

	        
	        <ion-select ngModel name="camilla_ara">
	            <ion-option  value="OK">OK</ion-option>
				<ion-option  value="NO ESTÁ">NO ESTÁ</ion-option>
		        <ion-option  value="DAÑADA">DAÑADA</ion-option>
		        <ion-option  value="N/A">N/A</ion-option>
	            
	        </ion-select>
		</ion-item>
    	<ion-item class="noBorder">
	        <ion-label text-wrap>¿EN CASO DE SER CANASTILLA CUENTA CON PULPO Y MOSQUETONES  {{reposicion}}?</ion-label>
        </ion-item>
    	<ion-item>

	        
	        <ion-select ngModel name="camilla_pulpo">
	            <ion-option  value="OK">OK</ion-option>
				<ion-option  value="NO ESTÁ">NO ESTÁ</ion-option>
		        <ion-option  value="DAÑADA">DAÑADA</ion-option>
		        <ion-option  value="N/A">N/A</ion-option>
	            
	        </ion-select>
		</ion-item>
    	<ion-item class="noBorder">
	        <ion-label text-wrap>OBSERVACIONES {{reposicion}}</ion-label>
        </ion-item>
    	<ion-item>

	        <ion-textarea class="" type="text" ngModel  name="camilla_observaciones" ></ion-textarea>

		</ion-item>
    	<ion-item class="noBorder">
	        <ion-label text-wrap>¿YA PERFORASTE LA ETIQUETA DE INSPECCION  {{reposicion}}?</ion-label>
        </ion-item>
    	<ion-item>

	        
	        <ion-select ngModel name="camilla_etiquetaInspeccion">
	            <ion-option  value="SI">SI</ion-option>
	            <ion-option  value="NO">NO</ion-option>
	            
	        </ion-select>
		</ion-item>

    </div>

    <!-- bombero -->
    <div [hidden]="pointType !='bombero'">

    	<!-- <ion-item class="noBorder">
	        <ion-label text-wrap>*¿ Con qué tipo de equipo cuenta  {{reposicion}}?</ion-label>
        </ion-item>
    	<ion-item>

	        <ion-input class="" type="text" ngModel  name="bombero_tipo" ></ion-input>

		</ion-item> -->
    	<ion-item class="noBorder">
	        <ion-label text-wrap>¿ESTA ACCESIBLE EL EQUIPO  {{reposicion}}?</ion-label>
        </ion-item>
    	<ion-item>

	        
	        <ion-select ngModel name="bombero_accesible">
	            <ion-option  value="SI">SI</ion-option>
	            <ion-option  value="NO">NO</ion-option>
	            
	        </ion-select>
		</ion-item>
    	<ion-item class="noBorder">
	        <ion-label text-wrap>¿SE ENCUENTRA SEÑALIZADO  {{reposicion}}?</ion-label>
        </ion-item>
    	<ion-item>

	        
	        <ion-select ngModel name="bombero_senalizado">
	            <ion-option  value="SI">SI</ion-option>
	            <ion-option  value="NO">NO</ion-option>
	            <ion-option  value="DAÑADO">DAÑADO</ion-option>
	            
	        </ion-select>
		</ion-item>
    	<ion-item class="noBorder">
	        <ion-label text-wrap>¿SE ENCUENTRA DELIMITADO  {{reposicion}}?</ion-label>
        </ion-item>
    	<ion-item>

	        
	        <ion-select ngModel name="bombero_delimitado">
	            <ion-option  value="SI">SI</ion-option>
	            <ion-option  value="NO">NO</ion-option>
	            <ion-option  value="DAÑADO">DAÑADO</ion-option>
	            <ion-option  value="N/A">N/A</ion-option>
	            
	        </ion-select>
		</ion-item>
    	<ion-item class="noBorder">
	        <ion-label text-wrap>¿CUAL ES EL ESTADO DEL GABINETE  {{reposicion}}?</ion-label>
        </ion-item>
    	<ion-item>

	        
	        <ion-select ngModel name="bombero_gabinete" multiple="true">
	            <ion-option  value="OK">OK</ion-option>
	            <ion-option  value="GOLPEADO">GOLPEADO</ion-option>
				<ion-option  value="PUERTA NO CIERRA">PUERTA NO CIERRA</ion-option>
				<ion-option  value="GABINETE EN MAL ESTADO">GABINETE EN MAL ESTADO</ion-option>
	            <ion-option  value="CAMBIAR ACRÍLICO/VIDRIO">CAMBIAR ACRÍLICO/VIDRIO</ion-option>
	            
	        </ion-select>
		</ion-item>
    	<ion-item class="noBorder">
	        <ion-label text-wrap>¿TIENE CASCO BOMBERO  {{reposicion}}?</ion-label>
        </ion-item>
    	<ion-item>

	       
	        <ion-select ngModel name="bombero_casco">
	            <ion-option  value="SI">SI</ion-option>
	            <ion-option  value="NO">NO</ion-option>
	            <ion-option  value="NO TIENE MICA">NO TIENE MICA</ion-option>
	            <ion-option  value="CAMBIO">CAMBIO</ion-option>
	            
	        </ion-select>
		</ion-item>
    	<ion-item class="noBorder">
	        <ion-label text-wrap>¿TIENE PANTALÓN Y TIRANTES  {{reposicion}}?</ion-label>
        </ion-item>
    	<ion-item>

	        
	        <ion-select ngModel name="bombero_pantalon">
	            <ion-option  value="SI">SI</ion-option>
	            <ion-option  value="NO">NO</ion-option>
	            <ion-option  value="DAÑADO">DAÑADO</ion-option>
	            <ion-option  value="NO TIENE TIRANTES">NO TIENE TIRANTES</ion-option>
	            <ion-option  value="CAMBIO">CAMBIO</ion-option>
	            
	        </ion-select>
		</ion-item>
    	<ion-item class="noBorder">
	        <ion-label text-wrap>¿TIENE CHAQUETÓN BOMBERO  {{reposicion}}?</ion-label>
        </ion-item>
    	<ion-item>

	        
	        <ion-select ngModel name="bombero_chaqueton">
	            <ion-option  value="SI">SI</ion-option>
	            <ion-option  value="NO">NO</ion-option>
	            <ion-option  value="CAMBIO">CAMBIO</ion-option>
	            
	        </ion-select>
		</ion-item>
    	<ion-item class="noBorder">
	        <ion-label text-wrap>¿EL EQUIPO INCLUYE MONJA/CAPUCHA  {{reposicion}}?</ion-label>
        </ion-item>
    	<ion-item>

	        
	        <ion-select ngModel name="bombero_monja">
	            <ion-option  value="SI">SI</ion-option>
	            <ion-option  value="NO">NO</ion-option>
	            <ion-option  value="CAMBIO">CAMBIO</ion-option>
	            
	        </ion-select>
		</ion-item>
    	<ion-item class="noBorder">
	        <ion-label text-wrap>¿TIENE BOTA RANGER  {{reposicion}}?</ion-label>
        </ion-item>
    	<ion-item>

	        
	        <ion-select ngModel name="bombero_bota">
	            <ion-option  value="SI">SI</ion-option>
	            <ion-option  value="NO">NO</ion-option>
	            
	        </ion-select>
		</ion-item>
    	<ion-item class="noBorder">
	        <ion-label text-wrap>¿TIENE GUANTES FIREMAN  {{reposicion}}?</ion-label>
        </ion-item>
    	<ion-item>

	        
	        <ion-select ngModel name="bombero_guantes">
	            <ion-option  value="SI">SI</ion-option>
	            <ion-option  value="NO/INCOMPLETOS">NO/INCOMPLETOS</ion-option>
	            <ion-option  value="CAMBIO">CAMBIO</ion-option>
	            
	        </ion-select>
		</ion-item>
    	<ion-item class="noBorder">
	        <ion-label text-wrap>¿TIENE EQUIPO SCBA  {{reposicion}}?</ion-label>
        </ion-item>
    	<ion-item>

	        
	        <ion-select ngModel name="bombero_SCBA">
	            <ion-option  value="SI">SI</ion-option>
	            <ion-option  value="NO">NO</ion-option>
	            <ion-option  value="INCOMPLETO">INCOMPLETO</ion-option>
	            <ion-option  value="N/A">N/A</ion-option>
	            
	        </ion-select>
		</ion-item>
    	<ion-item class="noBorder">
	        <ion-label text-wrap>¿QUE ESTADO TIENE EL EQUIPO  {{reposicion}}?</ion-label>
        </ion-item>
    	<ion-item>

	        
	        <ion-select ngModel name="bombero_estadoEquipo">
	            <ion-option  value="BUENO">BUENO</ion-option>
				<ion-option  value="MALO">MALO</ion-option>
	        </ion-select>
		</ion-item>
    	<ion-item class="noBorder">
	        <ion-label text-wrap>¿ESTA CARGADO EL CILINDRO  {{reposicion}}?</ion-label>
        </ion-item>
    	<ion-item>

	        
	        <ion-select ngModel name="bombero_cargadoSCBA">
	            <ion-option  value="SI">SI</ion-option>
	            <ion-option  value="NO">NO</ion-option>
	            
	        </ion-select>
		</ion-item>
    	<ion-item class="noBorder">
	        <ion-label text-wrap>OBSERVACIONES {{reposicion}}</ion-label>
        </ion-item>
    	<ion-item>

	        <ion-textarea class="" type="text" ngModel  name="bombero_observaciones" ></ion-textarea>

		</ion-item>
    	<ion-item class="noBorder">
	        <ion-label text-wrap>¿YA PERFORASTE LA ETIQUETA DE INSPECCION  {{reposicion}}?</ion-label>
        </ion-item>
    	<ion-item>

	        
	        <ion-select ngModel name="bombero_etiquetaInspeccion">
	            <ion-option  value="SI">SI</ion-option>
	            <ion-option  value="NO">NO</ion-option>
	            
	        </ion-select>
		</ion-item>
    </div>
    <button ion-button full (click)="takePhoto($event)" [disabled]="photos && photos?.length == 5 ">
		<ion-icon name="camera"></ion-icon>FOTO
	</button>
	<ion-grid>
		<ion-row>
		    <ion-col col-6 *ngFor="let photo of photos; let id = index">
		        <ion-card class="block">
					<ion-icon name="trash" class="deleteIcon" (click)="deletePhoto(id)"></ion-icon>
					<img [src]="photo" *ngIf="photo"  width="150px" />
		        </ion-card>
			</ion-col>
		</ion-row>
	</ion-grid>

	
    <ion-grid>
	  <ion-row>
	    <ion-col>
	      <button ion-button class="submit-btn" full type="submit" color="danger" (click)="savePreview($event, f)">Guardar y salir</button>
	    </ion-col>
	    <ion-col>
	      <button ion-button class="submit-btn" full type="submit" color="secondary" [disabled]="!f.valid" #finalizar>Finalizar</button>
	    </ion-col>

	  </ion-row>
	  <!-- <ion-row>

	    <ion-col>
	      <button ion-button class="submit-btn" full type="submit" color="primary" (click)="takePhotoAccess($event, f)">Sin acceso</button>
	    </ion-col>
	  </ion-row> -->
	</ion-grid>

    </form>
  

 
</ion-content>