<ion-header>
  <ion-navbar>
    Agregar punto de inspección
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      Información
    </ion-card-header>
    <ion-card-content>
      <p>
        Compañía: <br />
        <span class="subtext">{{ companyName }}</span><br />

        Sucursal:<br />
        <span class="subtext">{{ routeName }}</span><br />

      </p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <span>Datos:</span>
    </ion-card-header>

  </ion-card>
    <form #f="ngForm" (ngSubmit)="saveInspectionPoint(f)">

  	<ion-item>
        <ion-label>Departamento</ion-label>
        <ion-select ngModel name="routeZone" required>
            <ion-option *ngFor="let zone of routeZones" value="{{zone.id}}">{{zone.name}}</ion-option>
        </ion-select>
	</ion-item>
    <!-- <ion-item>
        <ion-label>Nombre punto de inspección</ion-label>
        <ion-input class="" type="text" ngModel  name="name" required></ion-input>

    </ion-item> -->
    <ion-item>
        <ion-label>Tipo</ion-label> 
        <ion-select ngModel [(ngModel)]="pointType" name="pointType" required (ionChange)="onTypeChange($event)">

            <ion-option  value="">Seleccione opción</ion-option>
            <ion-option  value="extintor">Extintor</ion-option>
            <ion-option  value="hidrante">Hidrante</ion-option>
            <ion-option  value="regadera">Regadera/Lavaojos</ion-option>
            <ion-option  value="camilla">Camilla</ion-option>
            <ion-option  value="bombero">Eq. Bombero</ion-option>
            
        </ion-select>

    </ion-item>
    <ion-item [hidden]="lbl_subType ==''">
        <ion-label>Tipo de {{lbl_subType}}</ion-label> 

        <ion-select ngModel [(ngModel)]="pointSubType" name="pointSubType" required (ionChange)="onTypeChange2($event)">
            <ion-option text-wrap  [value]="item" *ngFor="let item of sub_type_arr">{{item}}</ion-option>
            
        </ion-select>

    </ion-item>
    <ion-item [hidden]="lbl_subType2 =='' || lbl_subType !='extintor' ">
        <ion-label>Tipo de {{lbl_subType2}}</ion-label> 

        <ion-select ngModel [(ngModel)]="pointSubType2" name="pointSubType2"  (ionChange)="onTypeChange3($event)">
            <ion-option  [value]="item2" *ngFor="let item2 of sub_type_arr2">{{item2}}</ion-option>
            
        </ion-select>

    </ion-item>
    <ion-item [hidden]="lbl_subType3 =='' || lbl_subType !='extintor' ">
        <ion-label>Tipo de {{lbl_subType3}}</ion-label> 

        <ion-select ngModel [(ngModel)]="pointSubType3" name="pointSubType3" >
            <ion-option  [value]="item3" *ngFor="let item3 of sub_type_arr3">{{item3}}</ion-option>
            
        </ion-select>

    </ion-item>

    <ion-item [hidden]="lbl_subType !='extintor' ">
        <ion-label>Fecha de prueba hidrostática</ion-label> 

         <ion-datetime displayFormat="DD/MM/YYYY" pickerFormat="DD MMMM YYYY" ngModel name="hidrostatica"></ion-datetime>

    </ion-item>
    <ion-item>
        <ion-label>Código de barras</ion-label>
        <ion-input class="" type="text" ngModel  name="barcode"  [value]="barcode"></ion-input>

    </ion-item>
    <button ion-button full (click)="scanBarcode($event,1)" >
      <ion-icon name="camera"></ion-icon>Código de barras
    </button>

    <ion-item>
        <ion-label>Ubicación</ion-label>
        <ion-textarea class="" type="text" ngModel name="ubicacion" ></ion-textarea>

    </ion-item>
    <hr>
    <!-- <ion-item  [hidden]="lbl_subType !='extintor' && lbl_subType !='camilla' ">
        <ion-label>Nombre equipo</ion-label>
        <ion-input class="" type="text" ngModel  name="name" required></ion-input>

    </ion-item> -->
    <ion-item  [hidden]="lbl_subType !='extintor' && lbl_subType !='camilla'">
        <ion-label>Código de barras equipo</ion-label>
        <ion-input class="" type="text" ngModel  name="item_barcode"  [value]="item_barcode"></ion-input>

    </ion-item>
    
    <button  [hidden]="lbl_subType !='extintor' && lbl_subType !='camilla'" ion-button full (click)="scanBarcode($event,2)" >
      <ion-icon name="camera"></ion-icon>Código de barras
    </button>
    <button ion-button class="submit-btn" full type="submit" color="danger" [disabled]="!f.valid">Guardar</button>

    </form>
  

 
</ion-content>