<!--
  Generated template for the ModalPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Código de barras</ion-title>
    <ion-buttons end>
    	<button ion-button (click)="closeModal()">Cerrar</button>
    </ion-buttons>

  </ion-navbar>

</ion-header>


<ion-content padding>
	<ion-input class="" type="text" [(ngModel)]="barcode" placeholder="Codigo de barras" name="barcode"  ></ion-input>
	<button ion-button class="submit-btn" full color="danger" (click)='sendBarcode();'>Buscar</button>
</ion-content>
