<ion-header>
  <ion-navbar >
    <button  ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-title >Inspección</ion-title>

    
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      Información
    </ion-card-header>
    <ion-card-content>
      <p>
        Compañía: <br />
        <span class="subtext">{{ companyName }}</span><br />

        Sucursal:<br />
        <span class="subtext">{{ routeName }}</span><br />

        Fecha y ID:<br />
        <span class="subtext">{{ inspection.scheduled_at }} - #{{ inspection.id }}</span> <br />

        Comentarios:<br />
        <span class="subtext">{{ inspection.comments }}</span>
        
      </p>
      
    </ion-card-content>
  </ion-card>


  <ion-card [hidden]='signatureDiv'>
    
      <button ion-button class="submit-btn" full type="submit" color="primary" (click)="getReporteApp()">Reporte</button>

    
  </ion-card>

  <ion-card [hidden]='signatureDiv' style="background-color:#ae1919;">
    <ion-card-header>
      <span style="color:#ffffff;">Puntos de Inspección</span>
    </ion-card-header>
  </ion-card>

  <ion-list style="margin-bottom: 85px;">

    <ion-card [hidden]='signatureDiv' *ngFor="let point of inspectionPoints" (click)="showInspectionTour(inspection.id,companyName,routeName,point.idInsp, point.name, point.inspection_point_type, point.inspection_point_sub_type, point.inspection_point_sub_type2, point.inspection_point_sub_type3, point.idTour, point.InspPointName, point.hidrostatica,point.barcode, point.item_barcode, point.item_id )" [ngStyle]="{'background-color': point.color}" >
      <ion-card-header style="padding-bottom:0px">
        {{ point.name }} - {{point.location}}
      </ion-card-header>
      <ion-card-content>
       
        {{ point.inspection_point_type_lbl }}
        <br>

        {{ point.inspection_point_sub_type }}
        {{ point.inspection_point_sub_type2 }}
        {{ point.inspection_point_sub_type3 }}
        <br>

      </ion-card-content>
    </ion-card>
     <button [hidden]='signatureDiv' ion-button class="submit-btn" full type="submit" color="primary" (click)="finishInspection(true)">Finalizar</button>


     <!-- <div [hidden]='!signatureDiv'>
       <ion-label>
          Nombre cliente
        </ion-label>
        <ion-input class="" type="text" ngModel placeholder="Nombre" name="name_signature" [(ngModel)]="name_signature" ></ion-input>

        <div class="title">Firma del cliente</div>
        <ion-row [ngClass]="{'drawing-active': isDrawing}">
          <ion-col>
            <button right ion-fab style="background-color:#ccc;color:#ffffff; float: right;"  (click)="clearPad(e)" > 
              <ion-icon name="trash"></ion-icon>
            </button>
          </ion-col>
          <ion-col>
            <canvas id="signature-pad"></canvas>
          </ion-col>
          <ion-col></ion-col>
       
        </ion-row>
        
        

     </div>
 -->


    <div #fixedContainer ion-fixed [hidden]='!signatureDiv'  overflow-scroll="false"  no-bounce>
      <ion-label>
        Nombre cliente
      </ion-label>
      <ion-input class="" type="text" ngModel placeholder="Nombre" name="name_signature" [(ngModel)]="name_signature" ></ion-input>

      <div class="title">Firma del cliente</div>
      <button right ion-fab style="background-color:#ccc;color:#ffffff; float: right;"  (click)="clearCanvas(e)" > 
        <ion-icon name="trash"></ion-icon>
      </button>

      <canvas #imageCanvas (touchstart)="startDrawing($event)" (touchmove)="moved($event)"></canvas>
   
    
      <button ion-button class="submit-btn" full type="submit" color="primary" (click)="finishInspectionSignature()">Finalizar</button>
      <button ion-button class="submit-btn" full type="submit" color="danger" (click)="finishInspection(false)">Cancelar</button>
    </div>

  </ion-list>
 

  <ion-fab left bottom [hidden]='signatureDiv'>
    <button ion-fab style="background-color:#ae1919;color:#ffffff;" > 
      <ion-icon name="barcode"></ion-icon>
    </button>
    <ion-fab-list side="top">
      <button ion-fab style="background-color:#ae1919;color:#ffffff;" (click)="getByBarcode()">
        <ion-icon name="barcode"></ion-icon>
      </button>
      <button ion-fab  style="background-color:#ae1919;color:#ffffff;" (click)="showModal()">
        <ion-icon name="create"></ion-icon>
      </button>
      
    </ion-fab-list>
  </ion-fab>


  <ion-fab right bottom [hidden]='signatureDiv'>
    <button ion-fab style="background-color:#ae1919;color:#ffffff;">
      <ion-icon name="add"></ion-icon>
    </button>
    <ion-fab-list side="top">
      <button ion-fab style="background-color:#ae1919;color:#ffffff;" (click)="gotoAddInspectionPoint(routeId,companyName,routeName)">
        <ion-icon name="search"></ion-icon>
      </button>
      <button ion-fab  style="background-color:#ae1919;color:#ffffff;" (click)="gotoAddRouteZone(routeId,companyName,routeName)">
        <ion-icon name="home"></ion-icon>
      </button>
      
    </ion-fab-list>
  </ion-fab>
<ion-fab right top [hidden]='signatureDiv'>
  <button ion-fab style="background-color:#ae1919;color:#ffffff" (click)='showModalSetting()'> 
    <ion-icon name="settings"></ion-icon>
  </button>
</ion-fab>
</ion-content>
