<ion-header>
  <ion-navbar hideBackButton>
    <button  ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-title >Inspecciones</ion-title>

    <ion-searchbar *ngIf="toggled" [(ngModel)]="searchStr" [showCancelButton]="true" (ionCancel)="toggleSearch()" (ionInput)="search($event)"></ion-searchbar>

    <ion-buttons end *ngIf="!toggled">
      <button ion-button icon-only (click)="toggleSearch()">
        <i class="fa fa-search" aria-hidden="true"></i>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  
  
  <ion-list>

    <ion-card *ngFor="let inspection of inspections" [hidden]="inspection.totalPorcent==100" (click)="showInspection(inspection.id)">
      <ion-card-header style="padding-bottom:0px;">
        {{ inspection.company.name }} <span class="subtext">{{ inspection.scheduled_at }} - #{{ inspection.id }}</span>
      </ion-card-header>
      <ion-card-content>
        <span class="subtext">Sucursal</span><br />
        {{ inspection.route.name }}
        <progress-bar [progress]="inspection.totalPorcent" [color]="'#488aff'"></progress-bar>
      </ion-card-content>
    </ion-card>

  </ion-list>

  <ion-infinite-scroll (ionInfinite)="loadMore($event)">
    <ion-infinite-scroll-content loadingSpinner="dots">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
