<!--
  Generated template for the SettingsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Editar inspección</ion-title>
    <ion-buttons end>
    	<button ion-button (click)="closeModal()">Cerrar</button>
    </ion-buttons>

  </ion-navbar>

</ion-header>


<ion-content padding>
	<ion-datetime displayFormat="DD/MM/YYYY hh:mm" pickerFormat="DD/MM/YYYY hh:mm" ngModel [(ngModel)]="started_at" name="started_at"></ion-datetime>
	<button ion-button class="submit-btn" full color="danger" (click)='sendStaredAt();'>Guardar</button>
</ion-content>
