<!--
  Generated template for the LocationsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Reportes</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-item>
    <ion-label>Compañias</ion-label>
    <ion-select ngModel name="companies" (ionChange)="getRoute($event)">
        <ion-option *ngFor="let company of companies" value="{{company.id}}">{{company.name}}</ion-option>
    </ion-select>
  </ion-item>

  <ion-item *ngIf="routes.length > 0">
    <ion-label>Sucursal</ion-label>
    <ion-select ngModel name="routes" (ionChange)="getLastInspection($event)">
        <ion-option *ngFor="let route of routes" value="{{route.data.id}}">{{route.data.name}}</ion-option>
    </ion-select>
  </ion-item>
	
  <ion-list style="margin-bottom: 85px;">

    <ion-card *ngFor="let insp of inspection" (click)='getReporteApp(insp.id)'>
      <ion-card-header style="padding-bottom:0px">
        Inspección - {{insp.id}}
      </ion-card-header>
      <ion-card-content>
         Agendada: {{ insp.scheduled_at }}
        <br>
         Iniciada: {{ insp.started_at }}
        <br>
         Finalizada: {{ insp.finished_at }}
        <br>

        
        
      </ion-card-content>
    </ion-card>
    
   </ion-list>
</ion-content>
