<!--
  Generated template for the ScanbarcodesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Escanear punto de inspección y equipo</ion-title>
    <ion-buttons end>
    	<button ion-button (click)="closeModal()">Cerrar</button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
	<div>
		<ion-label>Puntos de inspección</ion-label>
		<ion-input class="" type="text" [(ngModel)]="barcode" placeholder="Codigo de barras" name="barcode"  ></ion-input>
	    <button ion-button class="submit-btn" full color="danger" (click)='searchBarcode(1);'>Buscar</button>
		<button ion-fab style="background-color:#ae1919;color:#ffffff;" (click)='getByBarcode(1)' > 
	      <ion-icon name="barcode"></ion-icon>
	    </button>
	</div>
	<div [hidden]='!scanItemDiv'>
		
		<ion-label>Equipo</ion-label>
		<ion-input class="" type="text" [(ngModel)]="item_barcode" placeholder="Codigo de barras" name="item_barcode"  ></ion-input>
	    <button ion-button class="submit-btn" full color="danger" (click)='searchBarcode(2);'>Buscar</button>
		<button ion-fab style="background-color:#ae1919;color:#ffffff;" (click)='getByBarcode(2)'> 
	      <ion-icon name="barcode"></ion-icon>
	    </button>
	</div>
	<ion-grid>
		<ion-row>
		    <ion-col>
		      	<button ion-button class="submit-btn" full type="submit" color="primary" (click)="takePhotoAccess($event)">Sin acceso</button>
		    </ion-col>
		</ion-row>
	</ion-grid>
</ion-content>
