<ion-header>
  <ion-navbar>
    Agregar departamento
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      Información
    </ion-card-header>
    <ion-card-content>
      <p>
        Compañía: <br />
        <span class="subtext">{{ companyName }}</span><br />

        Sucursal:<br />
        <span class="subtext">{{ routeName }}</span><br />

      </p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <span>Datos:</span>
    </ion-card-header>

  </ion-card>
    <form #f="ngForm" (ngSubmit)="saveRouteZone(f)">

  	
    <ion-item>
        <ion-label>Nombre</ion-label>
        <ion-input class="" type="text" ngModel  name="name" required></ion-input>

    </ion-item>
    
    <button ion-button class="submit-btn" full type="submit" color="danger" [disabled]="!f.valid">Guardar</button>

    </form>
  

 
</ion-content>