<!--
  Generated template for the LocationsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Ubicaciónes</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-item>
    <ion-label>Compañias</ion-label>
    <ion-select ngModel name="companies" (ionChange)="getRoute($event)">
        <ion-option *ngFor="let company of companies" value="{{company.id}}">{{company.name}}</ion-option>
    </ion-select>
  </ion-item>

  <ion-item *ngIf="routes.length > 0">
    <ion-label>Sucursal</ion-label>
    <ion-select ngModel name="routes" (ionChange)="getInspectionPoints($event)">
        <ion-option *ngFor="let route of routes, let i = index" value="{{i}}">{{route.data.name}}</ion-option>
    </ion-select>
  </ion-item>
	
  <ion-list style="margin-bottom: 85px;">

    <ion-card *ngFor="let point of inspectionPoints" >
      <ion-card-header style="padding-bottom:0px">
        {{ point.name }} - {{point.barcode}}
      </ion-card-header>
      <ion-card-content>
         {{ point.inspection_point_type_lbl }}
        <br>

        {{ point.inspection_point_sub_type }}
        {{ point.inspection_point_sub_type2 }}
        {{ point.inspection_point_sub_type3 }}
        <br>
        {{point.route_zone_name}}
        <br>
        {{point.location}}
        
      </ion-card-content>
    </ion-card>
    
    
  </ion-list>
   <ion-fab left bottom>
    <button ion-fab style="background-color:#ae1919;color:#ffffff;" > 
      <ion-icon name="barcode"></ion-icon>
    </button>
    <ion-fab-list side="top">
      <button ion-fab style="background-color:#ae1919;color:#ffffff;" (click)="getByBarcode()">
        <ion-icon name="barcode"></ion-icon>
      </button>
      <button ion-fab  style="background-color:#ae1919;color:#ffffff;" (click)="showModal()">
        <ion-icon name="create"></ion-icon>
      </button>
      
    </ion-fab-list>
  </ion-fab>
</ion-content>
